<%= link_to "New List", new_list_path, class: "btn btn-default" %>
<%= link_to "Archived Lists", archived_path, class:"btn btn-default" %>

<h2>Active Lists</h2>
<div class="active-lists">
  <% @lists.each do |list| %>
    <ul id="list-<%=list.id%>">
      <h2><%= link_to list.title, list_path(list) %></h2>
      <%= link_to "Update", edit_list_path(list), class: "btn btn-default"%>
      <% if list.archived %>
        <%= link_to "Delete", list, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Archive", list_path(id: list.id, list: { archived: true }), method: :put, class: "btn btn-danger" %>
      <% end %>
      <% list.tasks.each do |task| %>
        <li><%= task.title %></li>
      <% end %>
    </ul>
  <% end %>
</div>
